<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Back4app Containers</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=Inter:wght@400;600;700&family=Roboto+Mono:wght@300&display=swap');

  body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Sora, Arial, sans-serif;
            background-color: #10203A;
            color: white;
        }
 
  </style>
</head>
<body>
  <div class="header-text-shadow">
    <h1>Welcome to Back4app Containers</h1>
  </div>
</body>
</html>
